<div *ngIf="view" class="divBlock" style="float:right">
  <h2 class="header">Заказ:</h2>
  <table class="striped">
    <tr *ngFor="let dishValue of groupById()">
      <td>
        {{dishValue.key.Name}}
      </td>
      <td style="width: 100px;">
        {{dishValue.key.Price * dishValue.value.length}} руб.
      </td>
      <td style="width: 100px;">
        <div style="cursor:pointer;" class="divIcon">
          <mat-icon  (click)="change(false, dishValue)">remove</mat-icon>
        </div>
        <div class="divIcon"> {{dishValue.value.length}} </div>
        <div style="cursor:pointer;" class="divIcon">
          <mat-icon (click)="change(true, dishValue)">add</mat-icon>
        </div>

      </td>
      <!-- Понадобится, когда будешь делать выпадющий блок с комментами -->
      <!-- <tr *ngFor="let dish of dishValue.value">
        <td>{{dish.Name}}</td>
        <td>{{dish.Price * dishValue.value.length}} руб.</td>
      </tr> -->
    </tr>
    <tr>
      <td>
        <strong>ИТОГО: </strong>
      </td>
      <td><strong>{{getTotal()}} руб. </strong></td>
      <td *ngIf="!isLoading"><button mat-raised-button color="warn" (click)="sendOrder()">Заказать</button></td>
      <td *ngIf="isLoading"><mat-spinner [diameter]="50"></mat-spinner></td>
      <td></td>
    </tr>

  </table>
</div>