<div *ngIf="view" class="divBlock" style="float:right">
  <h2 class="header">Заказ:</h2>
  <table class="striped">
    <tr *ngFor="let dishes of groupById()">
      <td>
        {{dishes.key.Name}}
      </td>
      <td><textarea></textarea></td>
      <td style="width: 100px;">
        {{dishes.key.Price * dishes.value.length}} руб.
      </td>
      <td style="width: 100px;">
        <div style="cursor:pointer;" class="divIcon">
          <mat-icon (click)="change(false, dishes)">remove</mat-icon>
        </div>
        <div class="divIcon"> {{dishValue.value.length}} </div>
        <div style="cursor:pointer;" class="divIcon">
          <mat-icon (click)="change(true, dishes)">add</mat-icon>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>ИТОГО: </strong>
      </td>
      <td><strong>{{getTotal()}} руб. </strong></td>
      <td *ngIf="!isLoading"><button mat-raised-button color="warn" (click)="sendOrder()">Заказать</button></td>
      <td *ngIf="!isLoading"><button mat-raised-button color="warn" (click)="clearOrder()">Отменить</button></td>
      <td *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </td>
    </tr>

  </table>
</div>
