<div *ngFor="let key of arrayOrders | groupBy:'Table'" class="mainBlock">
  <h3>Стол № {{key.key}} от 16.08.2018 20:49</h3>
  <div *ngFor="let value of key.value" class="dishBlock">
    <div *ngFor="let type of value.Dishes">
      <!-- <div *ngFor="let dish of type"> -->
        <p>{{type.Name}}</p>
        <p>{{type.Consist}}</p>
        <button class="btn" style="background-color: lawngreen;">Готово</button>
        <button class="btn" style="background-color: indianred;">Подтвердить отмену</button>
      <!-- </div> -->
    </div>
  </div>
</div>