<div *ngFor="let order of getOrders()" class="divBlockCook">
  <h3 class="header">Стол № {{order.Table}} от {{order.CreatedDate | date:'dd.MM.yyyy'}}</h3>
  <table class="striped">
    <tr *ngFor="let dish of groupByNameDishes(order.Dishes)">
      <td>
        {{dish.key.Name}} {{dish.value.length}}
        <br> {{dish.key.Price * dish.value.length}} руб.
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
        <td>
            <strong>ИТОГО: </strong>
          </td>
          <td><strong>{{getTotal(order.Dishes)}} руб. </strong></td>
      <td *ngIf="isLoading">
        <button mat-raised-button color="warn" (click)="closeOrder(order.Table)">Закрыть</button>
      </td>
      <td *ngIf="!isLoading"><mat-spinner [diameter]="50"></mat-spinner></td>
      <td></td>
    </tr>
  </table>
</div>