/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0px;
}

td.bl {
    border-left: 5px dotted gray;
    vertical-align: top;
    text-align: center;
}

td.bt {
    border-top: 5px dotted gray;
    vertical-align: top;
    text-align: center;
}

td.br {
    border-right: 5px dotted gray;
    vertical-align: top;
    text-align: center;
}

td.bb {
    border-bottom: 5px dotted gray;
    vertical-align: top;
    text-align: center;
}

.mainBlock{
    width: 400px; 
    background-color: lightblue; 
    display: inline-block;
    vertical-align: top; 
    margin: 15px 15px 0px 15px;
}

.dishBlock{
    margin: 0px 0px 0px 5px;
}
